# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#get total number of schools by finding value count then sum of series school name
schools_total = school_data["school_name"].value_counts().sum()
print(schools_total)

15

In [3]:
#get total number of students by finding value count and sum of series student ID
student_total = student_data["Student ID"].value_counts().sum()
print(student_total)

39170

In [4]:
#get total school budget by using sum on budget series
budget_sum = school_data["budget"].sum()
print(budget_sum)

24649428

In [5]:
#get the mean (average) of the math score series, round to 2 decimal places
avg_math = round(student_data["math_score"].mean(),2)
print(avg_math)

78.99

In [6]:
#get the mean (average) of the read score series, round to 2 decimal places
avg_reading = round(student_data["reading_score"].mean(),2)
print(avg_reading)

81.88

In [7]:
#get the total students whose math score is above 70 and divide by the total students to get the % of passing math students
pass_math = student_data[student_data.math_score >= 70]
pass_math_count = pass_math["math_score"].value_counts().sum()
percent_math_pass = round(pass_math_count/student_total*100,2)
print(f"{percent_math_pass}%")

74.98%

In [8]:
#get the total students whose read score is above 70 and divide by the total students to get the % of passing read students
pass_read = student_data[student_data.reading_score >= 70]
pass_read_count = pass_read["reading_score"].value_counts().sum()
percent_read_pass = round(pass_read_count/student_total*100,2)
print(f"{percent_read_pass}%")

85.81%

In [9]:
#get the overall pass by finding the average percent passing math and percent passing reading, round to 2 decimal places
overall_pass = round(((percent_math_pass + percent_read_pass)/ 2),2)
overall_pass

80.4

In [10]:
#retitle variable names to series Titles, then reorder the Series
district_summary_df = pd.DataFrame({
    "Schools Total": [schools_total],
    "Student Total": [student_total],
    "Budget Total": [budget_sum],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_reading],
    "% Passing Math": str(percent_math_pass)+"%",
    "% Passing Reading": str(percent_read_pass)+"%",
    "Overall Passing Rate": str(overall_pass)+"%"
    },columns=("Schools Total", "Student Total", "Budget Total", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"))

district_summary_df

,Schools Total,Student Total,Budget Total,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98%,85.81%,80.4%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [11]:
group_school = school_data.groupby(["school_name"])
group_school.max().head()

                      School ID      type  size   budget
school_name
Bailey High School            7  District  4976  3124928
Cabrera High School           6   Charter  1858  1081356
Figueroa High School          1  District  2949  1884411
Ford High School             13  District  2739  1763916
Griffin High School           4   Charter  1468   917500

In [12]:
#merge student_data and school_data datasets on school name = merged_df
merged_df = pd.merge(student_data, school_data, how="outer", on=["school_name"])
merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [13]:
#keep series:type, school name, reading score, math score, size, budget = new_df
new_df = merged_df[["type","school_name","reading_score","math_score", "size", "budget"]]
new_df.head()

       type        school_name  reading_score  math_score  size   budget
0  District  Huang High School             66          79  2917  1910635
1  District  Huang High School             94          61  2917  1910635
2  District  Huang High School             90          60  2917  1910635
3  District  Huang High School             67          58  2917  1910635
4  District  Huang High School             97          84  2917  1910635

In [14]:
#groupby school name to get cumulative data for each school = school_comparison
school_group = new_df.groupby(["school_name"])
school_comparison = school_group.mean()
school_comparison["budget"]=school_comparison["budget"].map("${:,}".format)
school_comparison["size"]=school_comparison["size"].map("{:,}".format)
school_comparison["reading_score"]=school_comparison["reading_score"].map("{:.2f}".format)
school_comparison["math_score"]=school_comparison["math_score"].map("{:.2f}".format)

#rename series titles
renamed_school_df = school_comparison.rename(columns= {
    "reading_score":"Average Rreading Score",
    "math_score":"Average Math Score",
    "size":"Total Students",
    "budget":"Total Budget"
})
renamed_school_df

,Average Rreading Score,Average Math Score,Total Students,Total Budget
school_name,,,,
Bailey High School,81.03,77.05,"4,976.0","$3,124,928.0"
Cabrera High School,83.98,83.06,"1,858.0","$1,081,356.0"
Figueroa High School,81.16,76.71,"2,949.0","$1,884,411.0"
Ford High School,80.75,77.10,"2,739.0","$1,763,916.0"
Griffin High School,83.82,83.35,"1,468.0","$917,500.0"
Hernandez High School,80.93,77.29,"4,635.0","$3,022,020.0"
Holden High School,83.81,83.80,427.0,"$248,087.0"
Huang High School,81.18,76.63,"2,917.0","$1,910,635.0"
Johnson High School,80.97,77.07,"4,761.0","$3,094,650.0"
Pena High School,84.04,83.84,962.0,"$585,858.0"
Rodriguez High School,80.74,76.84,"3,999.0","$2,547,363.0"
Shelton High School,83.73,83.36,"1,761.0","$1,056,600.0"
Thomas High School,83.85,83.42,"1,635.0","$1,043,130.0"
Wilson High School,83.99,83.27,"2,283.0","$1,319,574.0"
Wright High School,83.95,83.68,"1,800.0","$1,049,400.0"

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [15]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [16]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.